services:
  roscore:
    image: franka_ros_zed:latest
    build: .
    network_mode: host
    privileged: true
    stdin_open: true # docker run -i
    tty: true # docker run -t
    command: roscore

  franka_controller:
    image: franka_ros_zed:latest
    build: .
    network_mode: host
    privileged: true
    stdin_open: true # docker run -i
    tty: true # docker run -t
    depends_on:
      - roscore
    command: /bin/bash -c '. /catkin_ws/devel/setup.bash && roslaunch --wait serl_franka_controllers impedance.launch robot_ip:=$ROBOT_IP load_gripper:=true'

  rviz:
    image: franka_ros_zed:latest
    build: .
    environment:
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /dev/dri:/dev/dri
      - .:/catkin_ws/src/vla-franka
    network_mode: host
    privileged: true
    stdin_open: true # docker run -i
    tty: true # docker run -t
    depends_on:
      - roscore
      - franka_controller
    command: /bin/bash -c '. /catkin_ws/devel/setup.bash && rviz -d /catkin_ws/src/vla-franka/res/rviz_config.rviz'

  main:
    image: franka_ros_zed:latest
    build: .
    environment:
      - ROBOT_IP=${ROBOT_IP}
      - DISPLAY=${DISPLAY}
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - .:/catkin_ws/src/vla-franka
    network_mode: host
    privileged: true
    stdin_open: true # docker run -i
    tty: true # docker run -t
    depends_on:
      - roscore
      - franka_controller
      - rviz
    working_dir: /catkin_ws/src/vla-franka
    entrypoint: 
      - /bin/bash
      - -c
      - |
        . /catkin_ws/devel/setup.bash
        exec python3 main.py "$@"
      - --
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [compute,utility,video]
  
  
  validate_server:
    image: franka_ros_zed:latest
    build: .
    volumes:
      - .:/catkin_ws/src/vla-franka
    network_mode: host
    privileged: true
    stdin_open: true # docker run -i
    tty: true # docker run -t
    working_dir: /catkin_ws/src/vla-franka
    entrypoint:
      - /bin/bash
      - -c
      - |
        . /catkin_ws/devel/setup.bash
        exec python3 validate_server.py "$@"
      - --
